<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script>
        function logout() {
            $.ajax({
                async:true,
                cache:false,
                timeout:3000,
                type:"DELETE",
                url:"/logout",
                error: function (req, st, err) {
                    alert("エラー");
                },
                complete: function (req, st) {
                    location.href="/";
                }
            });
            return false
        }
    </script>
</head>
<body>
<header class="navbar is-primary">
    <div class="navbar-brand">
                {% if userID != nil %}
                <a href="#" onclick="logout()">ログアウト</a>
                {% else %}
                <a href="#" onclick="location.href='/login'">ログイン</a>
                {% endif %}
    </div>
</header>
こんにちは
{% if userID != nil %}
{{userID}}さん
{% else %}
ゲストさん
{% endif %}
</body>
</html>